#prod__infos {
  background-color: $orangeColor;
  color: $whiteColor;
  .col-1-of-2 {
    margin-bottom: 0 !important;
  }
}

.infos__inner {
  display: flex;
  // background-color: yellow;
  // flex: 0 0 50%;
  justify-content: space-around;
  min-height: 6rem;
  // @include respond(phone) {
  // }

  &--content {
    // background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    &__icon {
      width: 4rem;
      height: auto;
      // text-shadow: 1px 0px 1px #9e4401;
      margin-right: 10px;
      @include respond(phone) {
        width: 5rem;
      }
    }

    &__text {
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0.8px;
      text-shadow: 1px 0px 1px #9e4401;
      text-transform: uppercase;
      @include respond(phone) {
        font-size: 0.8rem;
      }
    }
  }
}
