// Theme Color Bricoworld Selargius
$whiteColor: #ffffff;
$lightBlue: #f4f2ff;
$darkBlue: #1f1351;
$darkBlack: #0d0e0e;
$blackColor: #000000;
$orangeColor: #f37a1f;
$blackLight: #5a5a5a;
$ligtYellow: #ffffda;
$greyColor: #f8f9f9;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 124rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// toast {
//   -ms-flex-preferred-size: 350px;
//   flex-basis: 350px;
//   max-width: 350px;
//   font-size: 0.875rem;
//   background-color: rgba(255, 255, 255, 0.85);
//   background-clip: padding-box;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
//   box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
//   opacity: 0;
//   border-radius: 0.25rem;
// }
