.pad-y-6 {
  padding: 6rem 0;

  @include media-breakpoint-down(xs) {
    padding: 3rem 0;
  }
}

.pad-t-6 {
  padding-top: 6rem;
  @include media-breakpoint-down(xs) {
    padding-top: 3rem;
  }
}

.pad-t-15 {
  padding-top: 15rem;
  @include media-breakpoint-down(xs) {
    padding-top: 10rem;
  }
}

.pad-b-6 {
  padding-bottom: 6rem;
  @include media-breakpoint-down(xs) {
    padding-bottom: 3rem;
  }
}

.pad-y-3 {
  padding: 3rem 0;
  @include media-breakpoint-down(xs) {
    padding: 2rem 0;
  }
}

.pad-t-3 {
  padding-top: 3rem;
  @include media-breakpoint-down(xs) {
    padding-top: 2rem 0;
  }
}

.pad-b-3 {
  padding-bottom: 3rem;
  @include media-breakpoint-down(xs) {
    padding-bottom: 2rem;
  }
}

.mar-y-6 {
  margin: 6rem 0;

  @include media-breakpoint-down(xs) {
    margin: 3rem 0;
  }
}

.mar-b-6 {
  margin-bottom: 4rem !important;
  @include media-breakpoint-down(xs) {
    margin-bottom: 2rem !important;
  }
}

.mar-b-3 {
  margin-bottom: 3rem;
  @include media-breakpoint-down(xs) {
    margin-bottom: 2rem !important;
  }
}

.mar-small-b {
  margin-bottom: 1.5rem !important;
}
